.container {
    position: sticky;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    padding: 0 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e8ebed;
    z-index: 99999;
}

.left,
.center,
.right {
    flex: 1 1;
}

.center {
    display: flex;
}

.left {
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 8px;
}
.title {
    font-size: 1.8rem;
}

.right {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
